.nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes nav-shadown {
  to {
    @apply bg-white/50 shadow-lg ring-1 ring-white/10 backdrop-blur;
  }
}
